.hero {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  justify-content: space-between;
  padding: var(--padding-section);
}

.col_1 {
  display: flex;
  align-items: center;
}

.col_1 > div > h1 {
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 0.12em;
  color: var(--dark);
}

.col_2 > div {
  display: flex;
  gap: 1.8rem;
  margin-bottom: 1.8rem;
}

@media screen and (max-width: 767px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .col_1 > div {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3rem;
    align-items: center;
    justify-content: center;
  }

  .col_1 {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .col_1 > div > h1 {
    font-size: 2rem;
  }

  .col_2 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .col_2 > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero_image {
    width: 300px;
    height: 140px;
  }
}
